<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="post">
  <dl class="dl-horizontal">
    <dt>タイトル</dt>
    <dd><%= f.text_field :subject %></dd>
    <dt>日時</dt>
    <dd><%= f.date_select :date %></dd>
    <!-- 写真機能はここから -->
    <dt>写真</dt>
    <dd><%= f.file_field :picture %></dd>
    <!-- 写真機能はここまでに！ -->
    <dt>動画</dt>
    <dd><%= f.file_field :video, :accept => 'video/*' %></dd>

    <dt>本文</dt>
    <dd><%= f.text_area :body %></dd>
  </dl>

  <div class="clearfix">
    <p class="pull-right">
      <%= f.submit '投稿', :class => "btn btn-success" %>
      <%= link_to '表示', @post, :class => "btn btn-primary" %>
      <%= link_to '戻る', posts_path, :class => "btn btn-warning" %>
    </p>
  </div>
</div>
<% end %>
