

<h2 class="h2-title">新着記事 <small class="pull-right">
<%= search_form_for @q do |f| %>

  <%# start 特定の文字列で始まる商品名で検索 %>
  <%= f.label :subject, "タイトル" %>
  <%= f.search_field :subject %><br />
  <%= f.label :body, "記事内容" %>
  <%= f.search_field :body %>
    <%# 検索ボタン %>
  <%= f.submit %>
<% end %>
<% if admin_user_signed_in? %>
<%= link_to '投稿する', new_post_path, :class => "btn btn-danger" %></small></h2>
  <% else %>
  <% end %>

<% @posts.each do |post| %>
<div class="post">
  <h3><%= post.subject %> <small class="pull-right"><%= post.date %></small></h3>
  <div class="row">
    <div class="col-md-12">
      <!-- 写真機能　動画投稿機能 -->
      <% if post.picture.present? %>
      <%= link_to image_tag(post.picture_url), post %>
      <% end %>
      <% if post.video.present? %>
      <%= link_to image_tag(post.video_url(:screenshot)), post %>
      <% end %>
      <!-- 写真機能はここまでに！ -->
      <p class="post_text"><%= post.body %></p>
    </div>
  </div>
  <div class="clearfix">
    <p class="pull-right">
      <%= link_to '表示', post , :class => "btn btn-primary" %>
      <% if admin_user_signed_in? %>
      <%= link_to '編集', edit_post_path(post) , :class => "btn btn-success" %>
      <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' } , :class => "btn btn-warning" %>
      <% else %>
      <% end %>
    </p>
  </div>
</div>
<% end %>

<%# form_for の代わりに search_form_for を使うことで検索フォームを作成 %>
