<p id="notice"><%= notice %></p>
<div class="post">
  <h3><%= @post.subject %> <small class="pull-right"><%= @post.date %></small></h3>
  <div class="row">
    <div class="col-md-7">
    <%= @post.subject %>
    </div>
    <div>
    </div>
    <!-- 写真機能はここから -->
    <div class="col-md-7">
    <%= image_tag(@post.picture_url) if @post.picture.present? %>
    </div>
    <!-- 写真機能はここまでに！ -->
    <div class="col-md-5">
    </div>
  
    <div class="col-md-7">
    <%= link_to @post.video_url.to_s do %>
      <%= image_tag(@post.video_url(:screenshot).to_s, id: "video") %>
    <% end %>
    </div>
  </div>

<div class="clearfix">
<p class="pull-right">
<% if admin_user_signed_in? %>
<%= link_to '編集', edit_post_path(@post), :class => "btn btn-success" %>
<% else %>
<% end %>
<%= link_to '戻る', posts_path, :class => "btn btn-warning" %>
</p>
</div>

</div>
