<p id="notice"><%= notice %></p>
<div class="post">
  <div class="row">
    <div class="col-md-7"><p><strong>Text:</strong></p>
      <%= @posts_document.text %>
    </div>
    <!-- 写真機能はここから -->
    <div class="col-md-7"><p><strong>Picture:</strong></p>
      <%= image_tag(@posts_documents.picture_url) if @posts_document.picture.present? %>
    </div>
    <!-- 写真機能はここまでに！ -->
    <div class="col-md-7">
      <%= link_to @posts_document.video_url.to_s do %>
        <%= image_tag(@posts_document.video_url(:screenshot).to_s, id: "video") %>
      <% end %>
    </div>
  </div>
  <div class="clearfix">
    <p class="pull-right">
    <% if admin_user_signed_in? %>
      <%= link_to 'Edit', edit_posts_document_path(@post) %> |
      <%= link_to 'Back', posts_documents_path %>
    <% end %>
  <%= link_to '戻る', posts_path, :class => "btn btn-warning" %>
  </p>
  </div>
</div>